

<app-servicios id="servicios"></app-servicios>


<!--
<main>
    <nav>
        <ul>
            <li class="titulo"> <a  href=""><img class="imgtitulo" src="/titulo.png" alt=""></a></li>
            <li class="nosotros"><a href="inicio#nosotros"> Nosotros</a></li>
            <li class="servicios"> <a href="inicio#servicios">Servicios</a></li>
            <li class="buscar"> <input  type="text" placeholder="Buscar"></li>
            <li class="contacto"> <a  href="inicio#contacto">Contacto</a></li>
            <li class="banderaperu"> <a href=""><img class="imgperu"  src="/perubandera.png" alt=""></a></li>
            <li class="eeuubandera"> <a href=""><img class="imgeeuu"  src="/eeuubandera.png" alt=""></a></li>
            <li class="whatsapp"> <a href=""><img class="imgwhatsapp" src="/whatsapp.png" alt=""></a></li>
        </ul>
    </nav>
    <header>
        <div class="transparencia"></div>
        <img class="fondo" src="/inicio/cabecera.jpg" alt="">
        <img class="titulo-2" src="/principal/titulo-sinfondo.png" alt="">
    </header>

</main>



<app-servicios2 id="servicios2"></app-servicios2>
<app-nosotros id="nosotros"></app-nosotros>
<app-galeria></app-galeria> 
<app-blog></app-blog>
<app-footer id="contacto"></app-footer>


-->














