

/* Estilos generales */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img {
    width: 10%;
}

li {
    height: 80px;
    border-right: 3px solid #18437F;
    position: relative; /* Necesario para el pseudo-elemento */
}

.nosotros, .servicios, .contacto {
    width: 8%;
}

.titulo {
    width: 18%;
}

.titulo a {
    margin: 0 30px;
}

.buscar {
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banderaperu, .eeuubandera, .whatsapp {
    width: 4%;
}

.banderaperu a img, .eeuubandera a img, .whatsapp a img {
    width: 20px;
    height: 15px;
}

.whatsapp a img {
    width: 25px;
    height: 25px;
    background: transparent;
}

input {
    width: 90%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid gray;
}

a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    transition: 500ms;
    position: relative; /* Necesario para el pseudo-elemento */
    text-shadow: 2px 1px 10px rgb(255, 255, 255);

}

/* Estilos del pseudo-elemento */
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px; /* Altura de la barra */
    width: 0; /* Ancho inicial de la barra */
    background-color: white; /* Color de la barra */
    transition: width 0.5s ease-out; /* Transición */
}

/* Cambios en hover */
a:hover::after {
    width: 100%; /* Ancho de la barra en hover */
}
a:hover{
    background-color: #18437F;
    color: white;
}
.ulrtitulo:hover{
    background-color: white;
    color: white;
}
header .fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li a img {
    width: 100%;
    height: auto;
    box-shadow: 2px 1px 10px rgb(255, 255, 255);
}

header {
    width: 100%;
    background-image: url("/fondoprincipal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: calc(100vh - 80px);
}

header img {
    position: absolute;
}

header .transparencia {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: linear-gradient(to bottom, #002150b7, #00215046);

}

header .titulo-2 {
    position: absolute;
    z-index: 25;
    right: 0;
    bottom: 0;
    width: 30%;
    height: auto;
    padding: 50px;
}
@media (max-width: 800px) {
    ul {
        flex-direction: column;
    }
    li {
        border: 0;
    }
    nav {
        width: 100%;
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }

    .nosotros, .servicios, .titulo, .buscar, .contacto, .banderaperu, .eeuubandera {
        width: 100%;
    }

    .titulo a img {
        height: 100%;
        object-fit: contain;
    }

    .titulo {
        order: 0;
    }

    .nosotros {
        order: 1;
    }

    .contacto {
        order: 3;
    }

    .banderaperu {
        order: 5;
    }

    .eeuubandera {
        order: 6;
    }

    .servicios {
        order: 2;
    }

    .whatsapp {
        width: 100%;
        order: 4;
    }

    .whatsapp a img {
        height: 50%;
        object-fit: contain;
    }
}
