h2{
    margin: 0;
    padding: 0;
    border: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.swiper-galeria{
    width: 100%;
    height: auto;
}
img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
.slide-galeria{
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 120px;
}
