<div class="container-galeria">
    <h2>GALERIA</h2>
    <div class="row">
        <img class="img" src="/galeria/1.jpg" alt="">
        <img class="img2"src="/galeria/2.jpg" alt="">
        <img class="img" src="/galeria/3.jpg" alt="">
        <img class="img2" src="/galeria/4.jpg" alt="">
    </div>
    <div class="row">
        <img class="img" src="/galeria/5.jpg" alt="">
        <img class="img2" src="/galeria/6.jpg" alt="">
        <img class="img" src="/galeria/7.jpg" alt="">
        <img class="img2" src="/galeria/8.jpg" alt="">
    </div>
</div>
