<footer>
    <div class="footer-container">
        <div class="column">
            <h1>GRUPO PRECISO</h1>
            <p>Ofrecemos servicios de calidad brindando atención personalizada</p>
            <button>SOLICITAR COTIZACION</button>
        </div>
        <div class="column border-column">
            <ul>
                <li><strong>¿NECESITA AYUDA?</strong></li>
                <li>Contacto</li>
                <li>Preguntas frecuentes</li>
                <li>Atencion al cliente</li>
            </ul>
            <ul>
                <li><strong>PEDIDOS</strong></li>
                <li>Visita tecnica</li>
                <li>Mantenimiento</li>
                <li>Seguimiento</li>
                <li>Formularios</li>
                <li>Consultas</li>
            </ul>
            <ul>
                <li><strong>SERVICIOS</strong></li>
                <li>Personalizados</li>
                <li>Electricos</li>
                <li>Tableros</li>
                <li>Instalaciones</li>
                <li>Supervisión</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><strong>BLOG</strong></li>
                <li>Noticias</li>
                <li>Exposiciones</li>
                <li>Ferias</li>
            </ul>
            <ul>
                <li><strong>QUIÉNES SOMOS</strong></li>
                <li>Empresa</li>
                <li>GRUPO PRECISO</li>
                <li>Valores</li>
                <li>Galeria</li>
                <li>Proyectos realizados</li>
            </ul>
            <ul>
                <li><strong>CONDICIONES Y AVISO LEGAL</strong></li>
                <li>Privacidad y seguridad</li>
                <li>Cookie Policy</li>
                <li>Cookie Center</li>
            </ul>
            <ul>
                <li><strong>Formas de Pago</strong></li>
                <li><img src="forma_de_pago.png" alt="Formas de Pago"></li>
            </ul>
            <ul>
                <li><strong>SIGUENOS</strong></li>
                <li><img src="redes_sociales.png" alt="Redes Sociales"></li>
            </ul>
        </div>
    </div>
</footer>
