<footer>
    <div class="footer-container">
        <div class="column">
            <h1 style="color:#022454">GRUPO PR<span style="color:#E16120">E</span>CISO</h1>
            <p>Ofrecemos servicios de calidad brindando atención personalizada</p>
            <button>SOLICITAR COTIZACION</button>
        </div>
        <div class="column border-column">
                
            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>INICIO</summary>
                <li><a href="javascript:void(0)" (click)="scrollToNosotros($event)">Nosotros</a> </li>
                <li><a href="javascript:void(0)" (click)="scrollToServicio($event)">Servicios</a> </li>
                <li><a href="https://wa.link/j87pss">Contacto</a></li>
                <li><a href="/inicio">Buscar</a></li>                          
                </details>
            </ul>


            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>¿NECESITAS AYUDA?</summary>
                <li>Contacto</li>
                <li>Preguntas frecuentes</li>
                <li>Atención al cliente</li> 
                </details>            
            </ul>   
            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>PEDIDOS</summary>
                <li>Visita técnica</li>
                <li>Mantenimiento</li>
                <li>Seguimiento</li>
                <li>Formularios</li>
                <li>Consulta</li>
                </details>
            </ul>
            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>SERVICIOS</summary>
                <li>Personalizados</li>
                <li>Eléctricos</li>
                <li>Tableros</li>
                <li>Instalaciones</li>
                <li>Supervisión</li>
                </details>
            </ul>
        </div>
        <div class="column">
            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>BLOG</summary>
                <li>Noticias</li>
                <li>Exposiciones</li>
                <li>Ferias</li>
                </details>
            </ul>
            
            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>QUIÉNES SOMOS</summary>
                <li>Empresa</li>
                <li>GRUPO PRECISO</li>
                <li>Valores</li>
                <li>Galeria</li>
                <li>Proyectos realizados</li>
                </details>
            </ul>
            <ul class="lista-style">
                <details [open]="isDetailsOpen">
                <summary>CONDICIONES Y AVISO LEGAL</summary>
                <li>Privacidad y seguridad</li>
                <li>Cookie Policy</li>
                <li>Cookie Center</li>
                </details>
            </ul>
            <ul>
                <li><strong>FORMAS DE PAGO</strong></li>
                <a href=""><img width="50px" src="/footer/AMEXPRECISO.svg" alt=""></a>
                <a href=""><img width="50px" src="/footer/LOGOVISAPRECISO.svg" alt=""></a>
                <a href=""><img width="50px" src="/footer/MASTERCARDPRECISO.svg" alt=""></a>
                <a href=""><img width="50px" src="" alt=""></a>
            </ul>
            <ul>
                <li><strong>SÍGUENOS</strong></li>
                <a href=""><img width="50px" src="/footer/youtube.svg" alt=""></a>
                <a href=""><img width="50px" src="/footer/instagram.svg" alt=""></a>
                <a href=""><img width="50px" src="/footer/linkedin.svg" alt=""></a>
            </ul>
        </div>
    </div>
</footer>
