footer {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    display: flex; /* Flexbox para las columnas */
    justify-content: space-between; /* Espacio entre las columnas */
}

.column {
    flex: 1; /* Cada columna ocupa el mismo espacio inicialmente */
    padding: 0 15px; /* Espaciado interno en las columnas */
}

.column:first-child {
    flex: 2; /* La primera columna ocupa el doble de espacio */
}

.border-column {
    border-left: 2px solid black; /* Borde izquierdo más grande */
    border-right: 2px solid black; /* Borde derecho más grande */
}

.column ul {
    list-style-type: none; /* Quita los estilos de lista */
    padding: 0;
}

.column ul li {
    margin-bottom: 10px;
}

.column h1 {
}

.column button {
    background-color: #022454;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.column button:hover {
    background-color: rgb(192, 192, 192);
    color: #022454;
}
@media (max-width: 800px) {
    .footer-container {
        flex-direction: column;
    }
    .border-column{
        border: 0;
    }
    .lista-style{
        border-bottom: 2px solid gray;
    }
    summary{
        padding: 10px 0;
        background-color: rgb(212, 212, 212);
    }
}