<main>
    <h2>NUESTROS SERVICIOS</h2>
    <header>
        <swiper-container slides-per-view="1" autoplay="true" speed="400" navigation="true" [slidesPerView]="2" pagination="true"  [loop]="true" [loopAdditionalSlides]="2">
            <swiper-slide>
                <img src="/servicios/1.jpg" alt="">
                <p>Instalaciones eléctricas</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button>
            </swiper-slide> 
            <swiper-slide>
                <img src="/servicios/2.jpg" alt="">
                <p>Mantenimiento de tableros eléctricos</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button>
            </swiper-slide>  
            <swiper-slide>
                <img src="/servicios/3.jpg" alt="">
                <p>Mantenimiento de carros</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button>
            </swiper-slide>
            <swiper-slide>
                <img src="/servicios/4.jpg" alt="">
                <p>Mantenimiento de tractores</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button>
            </swiper-slide> 
            <swiper-slide>
                <img src="/servicios/5.jpg" alt="">
                <p>Mantenimiento de luz</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button>
            </swiper-slide>
        </swiper-container>
    </header>
</main>
