<main>
    <h2 class="titulo">NUESTROS SERVICIOS</h2>
    <header>
        <swiper-container  slides-per-view="1" autoplay="true" speed="400" [slidesPerView]="2.4"  [loop]="true" [loopAdditionalSlides]="2">
            <swiper-slide>
                <img src="/servicios/1.jpg" alt="">
                <div class="slider-info">
                <h2>Sistema de Utilización de Media y Baja Tensión</h2>
                <p>Diseñamos y ejecutamos sistemas eléctricos seguros y eficientes para aplicaciones industriales, comerciales y residenciales.</p>
                <button>Saber mas</button></div>
            </swiper-slide> 
            <swiper-slide>
                <img src="/servicios/2.jpg" alt="">
                <div class="slider-info">
                <h2>Mantenimiento de Subestaciones Eléctricas</h2>
                <p>Brindamos servicios integrales de mantenimiento para subestaciones eléctricas, garantizando su óptimo funcionamiento y seguridad.</p>
                <button>Saber mas</button></div>
            </swiper-slide>  
            <swiper-slide>
                <img src="/servicios/3.jpg" alt="">
                <div class="slider-info">
                <h2>Servicios Eléctricos de Baja Tensión</h2>
                <p>Ofrecemos una amplia gama de servicios eléctricos para instalaciones de baja tensión, asegurando la eficiencia y confiabilidad de su sistema eléctrico.</p>
                <button>Saber mas</button></div> 
            </swiper-slide>
            <swiper-slide>
                <img src="/servicios/4.jpg" alt="">
                <div class="slider-info">
                <h2>Tendido de Redes</h2>
                <p>Planificamos, instalamos y mantenemos redes eléctricas para una distribución segura y eficiente de la energía eléctrica.</p>
                <button>Saber mas</button></div>
            </swiper-slide> 
        </swiper-container>
    </header>
</main>
