<main>
    <h2 class="titulo">NUESTROS SERVICIOS</h2>
    <header>
        <swiper-container slides-per-view="1" autoplay="true" speed="400" [slidesPerView]="2.4"  [loop]="true" [loopAdditionalSlides]="2">
            <swiper-slide>
                <img src="/servicios/1.jpg" alt="">
                <div class="slider-info">
                <h2>Instalaciones eléctricas</h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, porro natus. Illum beatae dolor error in ad voluptatem consectetur nesciunt quos Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis provident asperiores pariatur nihil, vitae iusto reiciendis, delectus sed consectetur, corrupti doloribus! Minima incidunt vel quia aut quo vero odit tempora. recusandae officia, cum minus alias magni nemo, quam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button></div>
            </swiper-slide> 
            <swiper-slide>
                <img src="/servicios/2.jpg" alt="">
                <div class="slider-info">
                <h2>Mantenimiento de tableros eléctricos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button></div>
            </swiper-slide>  
            <swiper-slide>
                <img src="/servicios/3.jpg" alt="">
                <div class="slider-info"><h2>Mantenimiento de carros</h2>
                <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur incidunt laborum nulla vero? Ipsa officiis dolorem placeat, accusantium doloribus rem. Nihil saepe nostrum pariatur, sint quae aliquam minima dolores vitae! ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam illum a velit voluptatum suscipit. Eum veniam culpa optio aperiam ab placeat minus adipisci sequi illo. Atque maxime rerum a laudantium!</p>
                <button>Saber mas</button></div> 
            </swiper-slide>
            <swiper-slide>
                <img src="/servicios/4.jpg" alt="">
                <div class="slider-info">
                <h2>Mantenimiento de tractores</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button></div>
            </swiper-slide> 
            <swiper-slide>
                <img src="/servicios/5.jpg" alt="">
                <div class="slider-info"> <h2>Mantenimiento de luz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
                <button>Saber mas</button></div>
            </swiper-slide>
        </swiper-container>
    </header>
</main>
