<main>
    <div class="background-image">
        <img src="/nosotros/nosotrosfondo.jpg" alt="">
    </div>
    <div>
        <div class="contenido">
            <div>
        <h4>NOSOTROS</h4>
        <p>Somos una empresa peruana de ingeniería que cuenta con un equipo de trabajadores competentes en el mercado, con amplia experiencia en el sector eléctrico, dedicada a brindar soluciones integrales de instalaciones eléctricas en BT y MT.</p>
        </div>
        <swiper-container slides-per-view="0" autoplay="true" speed="400" navigation="true" [slidesPerView]="3" pagination="true"  [loop]="true" [loopAdditionalSlides]="0">
            <swiper-slide>
                <img src="/nosotros/seguridad.jpg" alt="">
                <h5>SEGURIDAD</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
            </swiper-slide> 
            <swiper-slide>
                <img src="/nosotros/innovacion.jpg" alt="">
                <h5>INNOVACION</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
            </swiper-slide>  
            <swiper-slide>
                <img src="/nosotros/trabajoenequipo.jpg" alt="">
                <h5>TRABAJO EN EQUIPO</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
            </swiper-slide>
            <swiper-slide>
                <img src="/servicios/4.jpg" alt="">
                <h5>TRABAJO GRUPAL</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
            </swiper-slide> 
            <swiper-slide>
                <img src="/servicios/5.jpg" alt="">
                <h5>MARKETING</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum tempus lectus quis facilisis.</p>
            </swiper-slide>
        </swiper-container>
        <button>Saber mas</button>
        </div>
    </div>
</main>
