<header>
    <img class="fondo" src="/nosotros/nosotrosfondo.jpg" alt="">
    <div class="caja"></div>
    <main>
            <div class="contenido">
                <h2>Nosotros</h2>
                <p>Somos Preciso Industry, empresa peruana de alta ingeniería que ofrece soluciones en media y baja tensión, redes, alumbrado y mantenimiento de subestaciones. Con más de 10 años de experiencia, nos especializamos en planificación, diseño y ejecución de proyectos eléctricos, garantizando cumplimiento en alcance, tiempo y costo.</p>
            </div>
            <swiper-container slides-per-view="1" autoplay="true" speed="400" [slidesPerView]="3"  [loop]="true" [loopAdditionalSlides]="3">
                <swiper-slide>
                    <img src="/nosotros/seguridad.jpg" alt="">
                    <div class="slider-info">
                    <h4>Seguridad</h4>
                    <p>En nuestro equipo, la salud y la seguridad de nuestros trabajadores, operaciones y clientes son nuestra prioridad. Por eso, nos regimos por los más altos estándares de la industria en nuestra gestión.
                    </p>
                    </div>
                </swiper-slide> 
                <swiper-slide>
                    <img src="/nosotros/innovacion.jpg" alt="">
                    <div class="slider-info">
                    <h4>Innovación</h4>
                    <p>Enfocamos nuestros esfuerzos en la mejora continua y la innovación, tanto en la capacitación de nuestro talento humano como en la calidad de nuestros productos. Buscamos la excelencia para obtener la máxima rentabilidad.</p>
                    </div>
                </swiper-slide>  
                <swiper-slide>
                    <img src="/nosotros/nosotrosfondo.jpg" alt="">
                    <div class="slider-info">
                    <h4>Calidad</h4>
                    <p>Nos comprometemos a brindar calidad y excelencia en cada etapa de nuestros proyectos, asegurando la satisfacción total de nuestros clientes.</p>
                    </div> 
                </swiper-slide>
                <swiper-slide>
                    <img src="/nosotros/trabajoenequipo.jpg" alt="">
                    <div class="slider-info">
                    <h4>Trabajo en equipo</h4>
                    <p>Valoramos el trabajo en equipo como motor de éxito fomentando la participación activa para alcanzar metas comunes, promoviendo el intercambio de conocimientos y fortaleciendo la unión de nuestros colaboradores.
                    </p>
                    </div>
                </swiper-slide> 
            </swiper-container>
            <div class="boton">
                <button>Saber mas</button>
            </div>
    </main>
</header>