header{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
}
.fondo{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

p,h2,h4{
    margin: 0;
    padding: 0;
    height: 3em;
    overflow: auto;
    color: white;
}
swiper-slide p{
    height: 5em;
}
h2{
    height: 1.5em;
    color: #3d7dd6;
}

h4{
    color: #398cff;
}

.caja{
    width: 20%;
    height: 100%;
}

main{
    width: 80%;
    height: 100%;
    background-color: #022454b7;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.contenido{
    height: 15vh;
    box-sizing: border-box;
    padding: 1vh 2vw;
}

swiper-slide{
    box-sizing: border-box;
    height: 60vh;
    padding: 1.5vh;
}

.boton{
    text-align: center;
    padding: 10vh 0;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background-color: #022454;
    color: white;
    font-weight: bold;
}

button:hover{
    color: #022454;
    background-color: white;
}

swiper-container{
    width: 80%;
    height: auto;
}