<app-nav-responsive></app-nav-responsive>
<app-navegacion></app-navegacion>
<header>
<h1>NOSOTROS</h1>
</header>
<main id="subservicios1">
    <p class="titulo-2">Somos Preciso Industry, empresa peruana de alta ingeniería dedicada a brindar una amplia gama de soluciones integrales que incluyen sistemas de utilización en media tensión (MT) y baja tensión (BT), tendido de redes primarias y secundarias para la habilitación urbana de predios, redes de alumbrado, mantenimiento de subestaciones eléctricas, consultoría en libre contratación de potencia con empresas generadoras y calidad de la energía eléctrica. Contamos con un equipo de ingenieros y técnicos altamente capacitados en el sector industrial. Nos especializamos en la planificación, diseño y ejecución de proyectos de electricidad e iluminación. Con más de 10 años de experiencia en el país, hemos contribuido al crecimiento de diversas organizaciones mediante la modernización de sus instalaciones, cumpliendo estrictamente en todos nuestros proyectos en el alcance, el tiempo y el costo planificado.
    </p>
    <div class="container-sub1">
    <ol class="custom-icons">
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            NUESTRO EQUIPO</li>
        <p>Somos un equipo de ingenieros y técnicos electricistas con más de 15 años de experiencia en empresas concesionarias de energía eléctrica, consultoría y en implementaciones de proyectos integrados de ingeniería eléctrica. Nuestros servicios se han ido adaptando a las necesidades de nuestros clientes lo que nos permite atender desde lo urgente y necesario hasta lo importante y técnicamente especializado.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            NUESTRO PROPÓSITO</li>
        <p>Nuestro propósito es implementar proyectos de eficiencia energética sostenible, reducir significativamente los costos de facturación eléctrica y prevenir riesgos de incidentes y accidentes eléctricos en personas y/o equipos eléctricos y electromecánicos.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            NUESTRO COMPROMISO</li>
        <p>Nuestro compromiso es darles a nuestros clientes la tranquilidad de saber que todos sus procesos y equipos que requieren de energía eléctrica están siendo soportados por personal con experiencia y conocimientos técnicos especializados a los costos más bajos y eficientes.
        </p>
    </ol>
    <img class="imgsubservicio" src="/nosotros/nosotrosfondo.jpg" alt=""></div>
    <h2 class="titulo-5">¿Como lo hacemos?</h2>
    <ol class="containersub-2">
        <div class="container-2">
        <img src="servicios2/subservicios1.jpg" alt="">
        <p class="imgnum">1</p>
        <li>Comparte con nosotros tus necesidades específicas. ¡Nos gustaría escucharte!</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios2.jpg" alt="">
        <p class="imgnum">2</p>
        <li>
            Agenda una visita técnica para evaluar tu situación y proporcionarte un presupuesto detallado.</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios3.jpg" alt="">
        <p class="imgnum">3</p>
        <li>Nuestro equipo se encargará de diseñar e implementar la solución más adecuada para tu negocio.</li>
        </div>
    </ol>
    <h2 class="titulo-3">NUESTROS VALORES</h2>
    <div class="containersub-3">
        <img  class="img3" src="/servicios2/nuestrosservicios.jpg" alt="">
        <div class="container-3">
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic1.svg" alt="">
                Seguridad</li>
            <p> En nuestro equipo, la salud y la seguridad de nuestros trabajadores, operaciones y clientes son nuestra prioridad. Por eso, nos regimos por los más altos estándares de la industria en nuestra gestión. </p>
            </div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic2.svg" alt="">
                Innovación</li>
            <p>Enfocamos nuestros esfuerzos en la mejora continua y la innovación, tanto en la capacitación de nuestro talento humano como en la calidad de nuestros productos. Buscamos la excelencia para obtener la máxima rentabilidad.</p></div></div>
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic3.svg" alt="">
                Calidad</li>
            <p>Nos comprometemos a brindar calidad y excelencia en cada etapa de nuestros proyectos, asegurando la satisfacción total de nuestros clientes.</p></div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic4.svg" alt="">
                Trabajo en equipo</li>
            <p>En nuestra empresa valoramos el trabajo en equipo como motor de éxito. Fomentamos la participación activa de todo nuestro personal para alcanzar metas comunes, promoviendo el intercambio de conocimientos y fortaleciendo la unión en nuestro equipo.</p></div></div>
        </div>
    </div>
</main>
<app-footer></app-footer>
