<app-nav-responsive></app-nav-responsive>
<app-navegacion></app-navegacion>
<header>
<h1>OTROS SERVICIOS</h1>
</header>
<main>
    <h2 class="titulo-2">SERVICIO SOLUCIONES PARA MOVILIDAD ELÉCTRICA</h2>
    <div class="container-sub1">
    <ol class="custom-icons">
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Servicios de protección de energía eléctrica:</li>
        <p>Realizamos estudios de coordinación de protecciones y pruebas de relé, además de implementar sistemas de protección homopolar contra falla a tierra para salvaguardar sus equipos de sobrecargas.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Instalación y mantenimiento de grupos electrógenos:</li>
        <p>Ofrecemos servicios de instalación y mantenimiento preventivo y correctivo de grupos electrógenos, con capacidades de hasta 1,100 KVA, incluyendo arranque manual o automático, así como mantenimiento de tableros de transferencia manual y automática.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Gestiones de cambio de tarifa eléctrica:</li>
        <p>Realizamos estudios basados en el cuadro de carga y consumo del cliente para optimizar su pago ofreciendo la posibilidad de acceder a servicios como clientes libres, lo que le genera al cliente un ahorro de hasta un 18% en promedio, dependiendo de su factor de carga.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Diseño y construcción de líneas de media tensión:</li>
        <p>Somos expertos en el diseño y
            construcción de líneas eléctricas de media tensión y sus infraestructuras asociadas, contribuyendo a la transmisión y distribución eficiente de la energía eléctrica.            
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Instalación de banco de condensadores:</li>
        <p>Implementamos bancos de condensadores para reducir o eliminar el consumo de energía reactiva, lo que se traduce en un ahorro en la facturación mensual de energía para nuestros clientes.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Implementación de luminarias LED y sistemas fotovoltáicos.</li>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Mantenimiento y reparación de motores</li>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Instalación y mantenimiento de aire acondicionado</li>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Bombas y electrobombas</li>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Venta, instalación y configuración de equipos de video vigilancia</li>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Estudio de calidad de energía eléctrica</li>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Servicios generales</li>
    </ol>
    <img class="imgsubservicio" src="/servicios/7.jpg" alt=""></div>
    <h2 class="titulo-5">¿Como lo hacemos?</h2>
    <ol class="containersub-2">
        <div class="container-2">
        <img src="servicios2/subservicios1.jpg" alt="">
        <p class="imgnum">1</p>
        <li>Comparte con nosotros tus necesidades específicas. ¡Nos gustaría escucharte!</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios2.jpg" alt="">
        <p class="imgnum">2</p>
        <li>
            Agenda una visita técnica para evaluar tu situación y proporcionarte un presupuesto detallado.</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios3.jpg" alt="">
        <p class="imgnum">3</p>
        <li>Nuestro equipo se encargará de diseñar e implementar la solución más adecuada para tu negocio.</li>
        </div>
    </ol>
    <h2 class="titulo-3">Nuestros Servicios</h2>
    <div class="containersub-3">
        <img  class="img3" src="/servicios2/nuestrosservicios.jpg" alt="">
        <div class="container-3">
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic1.svg" alt="">
                Sistema de Utilización de Media y Baja Tensión</li>
            <p>Diseñamos y ejecutamos sistemas eléctricos seguros y eficientes para aplicaciones industriales, comerciales y residenciales.</p>
            </div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic2.svg" alt="">
                Servicios Eléctricos de Baja Tensión</li>
            <p>Ofrecemos una amplia gama de servicios eléctricos para instalaciones de baja tensión, asegurando la eficiencia y confiabilidad de su sistema eléctrico.</p></div></div>
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic3.svg" alt="">
                Mantenimiento de Subestaciones Eléctricas</li>
            <p>Brindamos servicios integrales de mantenimiento para subestaciones eléctricas, garantizando su óptimo funcionamiento y seguridad.</p></div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic4.svg" alt="">
                Tendido de Redes</li>
            <p>Planificamos, insta lamos y mantenemos redes eléctricas para una distribución segura y eficiente de la energía eléctrica.</p></div></div>
        </div>
    </div>
    <div class="container-4">
        <h2 class="titulo-4">¿Te gustaría que te brindemos un diagnóstico completo y detallado del servicio de sistema de utilización de media y baja tensión que necesitas? ¡No dudes en contactarnos!
        </h2>
        <button>¡No dudes en contactarnos!</button>
    </div>
</main>
<app-footer></app-footer>
