<app-nav-responsive></app-nav-responsive>
<app-navegacion></app-navegacion>
<header>
    <h1>SERVICIO POZO A TIERRA</h1>
</header>
<main>
    <h2 class="titulo-2">En Preciso, realizamos pozos a tierra.</h2>
    <h2 class="titulo-5">SERVICIOS</h2>
    <ol class="containersub-2">
        <div class="container-2">
            <img src="/icons/ic1.svg" alt="">
            <li>Construcción e Instalación</li>
        </div>
        <div class="container-2">
            <img src="/icons/ic2.svg" alt="">
            <li>Mantenimiento a Pozo a Tierra</li>
        </div>
        <div class="container-2">
            <img src="/icons/ic3.svg" alt="">
            <li>Tipos de Pozo a tierra</li>
        </div>
    </ol>
    <div class="container-sub1">
        <ol class="custom-icons">
                 
                <li class="subtitulo">
                    <img src="bitmap.svg" alt="">
                    Pozos a tierra con electrodos verticales:
                </li>
                <span>Utilizados en áreas con espacio limitado o suelos con baja resistividad. Consisten en varillas de
                    cobre o acero revestido de cobre que se clavan verticalmente en el suelo.</span>
                <li class="subtitulo">
                    <img src="bitmap.svg" alt="">
                    Pozos a tierra con placas horizontales:
                </li>
                <span>Utilizados en suelos con alta resistividad. Consisten en placas metálicas enterradas
                    horizontalmente a una profundidad específica.</span>
                <li class="subtitulo">
                    <img src="bitmap.svg" alt="">
                    Pozos a tierra con geles o bentonita:
                </li>
                <span>Empleados para mejorar la conductividad del suelo en áreas con alta resistividad. Involucran el
                    uso de materiales que retienen humedad alrededor del electrodo.</span>
               
          
        </ol>
        <img class="imgsubservicio" src="/servicios/6.jpg" alt="">
    </div>
    <h2 class="titulo-3">Aplicaciones</h2>
   <div class="containersub-3">
        <img class="img3" src="/servicios2/nuestrosservicios.jpg" alt="">
        <div class="container-3">
            <li class="subtitulo">
                <img src="bitmap.svg" alt="">
                Infraestructuras comerciales e industriales:
            </li>
            <li class="subtitulo">
                <img src="bitmap.svg" alt="">
                Telecomunicaciones:
            </li>
            <li class="subtitulo">
                <img src="bitmap.svg" alt="">
                Mantenimiento y soporte técnico
            </li>
            <p>Ofrecemos servicios de mantenimiento preventivo y correctivo para garantizar la continuidad y eficiencia
                del sistema.
            </p>
            <div class="container-servicios">
                <div class="serviciosprincipales">
                    <li>
                        <img src="/icons/ic3.svg" alt="">
                        Mantenimiento de Subestaciones Eléctricas
                    </li>
                    <p>Brindamos servicios integrales de mantenimiento para subestaciones eléctricas, garantizando su
                        óptimo funcionamiento y seguridad.</p>
                </div>
                <div class="serviciosprincipales">
                    <li>
                        <img src="/icons/ic4.svg" alt="">
                        Tendido de Redes
                    </li>
                    <p>Planificamos, insta lamos y mantenemos redes eléctricas para una distribución segura y eficiente
                        de la energía eléctrica.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-4">
        <h2 class="titulo-4">¿Te gustaría que te brindemos un diagnóstico completo y detallado del servicio de pozo a
            tierra que necesitas? ¡No dudes en contactarnos!
        </h2>
        <button (click)="irAExterno()">¡No dudes en contactarnos!</button>
    </div>
</main>
<app-footer></app-footer>
<app-whatsapp></app-whatsapp>