<app-nav-responsive></app-nav-responsive>
<app-navegacion></app-navegacion>
<header>
<h1>SERVICIOS ELÉCTRICOS DE BAJA TENSIÓN</h1>
</header>
<main>
    <h2 class="titulo-2">En Preciso, realizamos instalaciones nuevas y solucionamos problemas de servicios eléctricos de baja tensión.</h2>
    <div class="container-sub1">
    <ol class="custom-icons">
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Servicios Eléctricos de Baja Tensión</li>
        <p>Realizamos instalaciones eléctricas completas, desde el diseño y planificación hasta la ejecución, asegurando el cumplimiento de todas las normativas y estándares de calidad.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Mantenimiento de tableros eléctricos</li>
        <p>Proveemos servicios de mantenimiento preventivo y correctivo de tableros eléctricos, asegurando su óptimo funcionamiento y prolongando su vida útil.
        </p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Instalación y mantenimiento de sistemas de iluminación</li>
        <p>Instalamos y mantenemos sistemas de iluminación LED, mejorando la eficiencia energética y reduciendo costos operativos.
        </p>
            <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Sistemas de puesta a tierra</li>
        <p>Diseñamos e implementamos sistemas de puesta a tierra para proteger los equipos eléctricos y electrónicos de descargas eléctricas y fallas.
        </p>
    </ol>
    <img class="imgsubservicio" src="/servicios/3.jpg" alt=""></div>
    <h2 class="titulo-5">¿Como lo hacemos?</h2>
    <ol class="containersub-2">
        <div class="container-2">
        <img src="servicios2/subservicios1.jpg" alt="">
        <p class="imgnum">1</p>
        <li>Comparte con nosotros tus necesidades específicas. ¡Nos gustaría escucharte!</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios2.jpg" alt="">
        <p class="imgnum">2</p>
        <li>
            Agenda una visita técnica para evaluar tu situación y proporcionarte un presupuesto detallado.</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios3.jpg" alt="">
        <p class="imgnum">3</p>
        <li>Nuestro equipo se encargará de diseñar e implementar la solución más adecuada para tu negocio.</li>
        </div>
    </ol>
    <h2 class="titulo-3">Nuestros Servicios</h2>
    <div class="containersub-3">
        <img  class="imgservi" src="/servicios2/nuestrosservicios.jpg" alt="">
        <div class="container-3">
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic1.svg" alt="">
                Sistema de Utilización de Media y Baja Tensión</li>
            <p>Diseñamos y ejecutamos sistemas eléctricos seguros y eficientes para aplicaciones industriales, comerciales y residenciales.</p>
            </div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic2.svg" alt="">
                Servicios Eléctricos de Baja Tensión</li>
            <p>Ofrecemos una amplia gama de servicios eléctricos para instalaciones de baja tensión, asegurando la eficiencia y confiabilidad de su sistema eléctrico.</p></div></div>
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic3.svg" alt="">
                Mantenimiento de Subestaciones Eléctricas</li>
            <p>Brindamos servicios integrales de mantenimiento para subestaciones eléctricas, garantizando su óptimo funcionamiento y seguridad.</p></div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic4.svg" alt="">
                Tendido de Redes</li>
            <p>Planificamos, insta lamos y mantenemos redes eléctricas para una distribución segura y eficiente de la energía eléctrica.</p></div></div>
        </div>
    </div>
    <div class="container-4">
        <h2 class="titulo-4">¿Te gustaría que te brindemos un diagnóstico completo y detallado de los servicios eléctricos de baja tensión que necesitas? ¡No dudes en contactarnos!
        </h2>
        <button  (click)="irAExterno()">¡No dudes en contactarnos!</button>
    </div>
</main>
<app-footer></app-footer>
<app-whatsapp></app-whatsapp>
