

/* Estilos generales */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: bold;
    flex-direction: column;
}

img {
    width: 10%;
}

li {
    height: 80px;
    position: relative; /* Necesario para el pseudo-elemento */
}

.nosotros, .servicios, .contacto {
    width: 8%;
}

.titulo {
    width: 18%;
}

.titulo a {
    margin: 0 30px;
}

.buscar {
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banderaperu, .eeuubandera, .whatsapp {
    width: 4%;
}

.banderaperu a img, .eeuubandera a img, .whatsapp a img {
    width: 20px;
    height: 15px;
}

.whatsapp a img {
    width: 100px;
    height: 100px;
    background: transparent;
}

input {
    width: 90%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid gray;
}

a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    transition: 500ms;
    position: relative; /* Necesario para el pseudo-elemento */
    text-shadow: 2px 1px 10px rgb(255, 255, 255);

}

/* Estilos del pseudo-elemento */
a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px; /* Altura de la barra */
    width: 0; /* Ancho inicial de la barra */
}

/* Cambios en hover */
a:hover::after {
    width: 100%; /* Ancho de la barra en hover */
}
a:hover{
    background-color: #002150;
    color: white;
}
header .fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li a img {
    width: 100%;
    height: auto;
}


header .titulo-2 {
    bottom: 0;
    right: 0;
    width: 30%;
    margin: 20px;
    z-index: 20;
}
svg{
    width: 50px;
    height: 50px;
}
.container-responsive{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
}
.button-responsive{
    background-color: #fff;
    outline: 1px solid black;
    border: 0;
}
.titulo-responsive{
    display: flex;
    height: 60px;
}
.imgtitulo{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 60px;
}
.titulo-responsive{
    visibility: hidden;
    position: absolute;
}
.navbar{
    visibility: hidden;
    position: absolute;
}
@media (max-width: 800px) {
    .titulo-responsive{
        visibility: visible;
        position: relative;
    }
    .navbar{
        visibility: visible;
        position: relative;
    }
    .navbar {
        width: 100%;
        transform: translateX(-100vw);
        transition: transform 0.3s ease;
        position: absolute;
        z-index: 20;
        background-color: white;
    }
    .navbar.open {
        transform: translateX(0); /* Mostrar el menú */
        position: absolute;
    } 

    .nosotros, .servicios, .titulo, .buscar, .contacto, .banderaperu, .eeuubandera,.imgwhatsapp {
        width: 100%;
    }

    
    .titulo a img {
        height: 100%;
        object-fit: contain;
    }

    .titulo {
        order: 0;
    }

    .nosotros {
        order: 1;
    }

    .contacto {
        order: 3;
    }

    .banderaperu {
        order: 5;
    }

    .eeuubandera {
        order: 6;
    }

    .servicios {
        order: 2;
    }

    .whatsapp {
        width: 100%;
        order: 4;
    }

    .whatsapp a img {
        height: 50%;
        object-fit: contain;
    }
}
