<app-nav-responsive></app-nav-responsive>
<app-navegacion></app-navegacion>
<header>
<h1>SERVICIO MANTENIMIENTO DE SUBESTACIONES ELÉCTRICAS</h1>
</header>
<main>
    <h2 class="titulo-2">En Preciso, realizamos instalaciones nuevas y solucionamos problemas de mantenimiento de subestaciones eléctricas.    </h2>
    <div class="container-sub1">
    <ol class="custom-icons">
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Mantenimiento de Subestaciones Eléctricas</li>
        <p>Realizamos verificaciones detalladas para determinar el estado de las subestaciones y planificar el mantenimiento necesario. Esto incluye la verificación de niveles de tensión, contactos, terminales, relés de protección, sensores de temperatura y celdas.</p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Mantenimiento preventivo</li>
        <p>Ejecutamos maniobras de desconexión, limpieza general del transformador y de la celda, mediciones de temperatura con cámara termográfica y nivel de aislamiento (megado), ajustes y verificaciones de terminales y relés de protección; y limpieza con solvente dieléctrico.</p>
        <li class="subtitulo">
            <img src="bitmap.svg" alt="">
            Mantenimiento correctivo</li>
        <p>Diagnosticamos y corregimos fallos en subestaciones eléctricas, proporcionando informes técnicos detallados y certificados de operatividad firmados por ingenieros eléctricos colegiados.
        </p>
    </ol>
    <img class="imgsubservicio" src="/servicios/2.jpg" alt=""></div>
    <h2 class="titulo-5">¿Como lo hacemos?</h2>
    <ol class="containersub-2">
        <div class="container-2">
        <img src="servicios2/subservicios1.jpg" alt="">
        <p class="imgnum">1</p>
        <li>Comparte con nosotros tus necesidades específicas. ¡Nos gustaría escucharte!</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios2.jpg" alt="">
        <p class="imgnum">2</p>
        <li>
            Agenda una visita técnica para evaluar tu situación y proporcionarte un presupuesto detallado.</li>
        </div>
        <div class="container-2">
        <img src="servicios2/subservicios3.jpg" alt="">
        <p class="imgnum">3</p>
        <li>Nuestro equipo se encargará de diseñar e implementar la solución más adecuada para tu negocio.</li>
        </div>
    </ol>
    <h2 class="titulo-3">Nuestros Servicios</h2>
    <div class="containersub-3">
        <img  class="img3" src="/servicios2/nuestrosservicios.jpg" alt="">
        <div class="container-3">
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic1.svg" alt="">
                Sistema de Utilización de Media y Baja Tensión</li>
            <p>Diseñamos y ejecutamos sistemas eléctricos seguros y eficientes para aplicaciones industriales, comerciales y residenciales.</p>
            </div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic2.svg" alt="">
                Servicios Eléctricos de Baja Tensión</li>
            <p>Ofrecemos una amplia gama de servicios eléctricos para instalaciones de baja tensión, asegurando la eficiencia y confiabilidad de su sistema eléctrico.</p></div></div>
            <div class="container-servicios">
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic3.svg" alt="">
                Mantenimiento de Subestaciones Eléctricas</li>
            <p>Brindamos servicios integrales de mantenimiento para subestaciones eléctricas, garantizando su óptimo funcionamiento y seguridad.</p></div>
            <div class="serviciosprincipales">
            <li>
                <img src="/icons/ic4.svg" alt="">
                Tendido de Redes</li>
            <p>Planificamos, insta lamos y mantenemos redes eléctricas para una distribución segura y eficiente de la energía eléctrica.</p></div></div>
        </div>
    </div>
    <div class="container-4">
        <h2 class="titulo-4">¿Te gustaría que te brindemos un diagnóstico completo y detallado del servicio de mantenimiento de subestaciones eléctricas que necesitas? ¡No dudes en contactarnos!</h2>
        <button>¡No dudes en contactarnos!</button>
    </div>
</main>
<app-footer></app-footer>
