<div class="container-principal">
    <main>
        <div class="titulo"><img src="titulo.png" alt=""></div>
        <div class="imagenes">
            <div class="subpanel"  (mouseenter)="startPreview(consultantsVideo)">
                <div class="video-container">
                    <video #consultantsVideo muted loop playsinline>
                        <source src="/videos/industry.mp4" type="video/mp4" >
                    </video>
                </div>
                <div class="subpanel-texto">
                    <img ngSrc="/principal/Industry.png" alt="" [width]="300" [height]="80">
                    <button routerLink="inicio">CONOCE MÁS</button>
                </div>
            </div>
            <div class="subpanel" (mouseenter)="startPreview(expressVideo)">
                <div class="video-container">
                    <video #expressVideo muted loop playsinline>
                        <source src="/videos/express.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="subpanel-texto">
                    <img  ngSrc="/principal/Express.png" alt=""  [width]="300" [height]="80">
                    <button routerLink="subservicio1">CONOCE MÁS</button>
                </div>
            </div>
            <div class="subpanel" (mouseenter)="startPreview(industryVideo)">
                <div class="video-container">
                    <video #industryVideo muted loop playsinline>
                        <source src="/videos/consultants.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="subpanel-texto">
                    <img ngSrc="/principal/Consultants.png" alt=""  [width]="300" [height]="80">
                    <button routerLink="inicio">CONOCE MÁS</button>
                </div>
            </div>
        </div>
    </main>
</div>
