<div class="container-principal">
    <main>
        <div class="titulo"><img src="titulo.png" alt=""></div>
        <div class="imagenes">
            <div class="subpanel" (mouseenter)="startPreview(consultantsVideo)" (mouseleave)="stopPreview()">
                <div class="video-container">
                    <img #consultantsPreview src="/images/consultants-preview.jpg" alt="Consultants Preview" class="video-placeholder">
                    <video #consultantsVideo muted loop (loadeddata)="hidePlaceholder(consultantsPreview)">
                        <source src="/videos/industry.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="subpanel-texto">
                    <img src="/principal/preciso7.svg" alt="">
                    <button routerLink="inicio">CONOCE MÁS</button>
                </div>
            </div>
            <div class="subpanel" (mouseenter)="startPreview(expressVideo)" (mouseleave)="stopPreview()">
                <div class="video-container">
                    <img #expressPreview src="/images/express-preview.jpg" alt="Express Preview" class="video-placeholder">
                    <video #expressVideo muted loop (loadeddata)="hidePlaceholder(expressPreview)">
                        <source src="/videos/express.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="subpanel-texto">
                    <img src="/principal/preciso8.svg" alt="">
                    <button routerLink="subservicio1">CONOCE MÁS</button>
                </div>
            </div>
            <div class="subpanel" (mouseenter)="startPreview(industryVideo)" (mouseleave)="stopPreview()">
                <div class="video-container">
                    <img #industryPreview src="/images/industry-preview.jpg" alt="Industry Preview" class="video-placeholder">
                    <video #industryVideo muted loop (loadeddata)="hidePlaceholder(industryPreview)">
                        <source src="/videos/consultants.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="subpanel-texto">
                    <img src="/principal/preciso9.svg" alt="">
                    <button routerLink="inicio">CONOCE MÁS</button>
                </div>
            </div>
        </div>
    </main>
</div>
