<main>
    <div class="panel-1">
        <div class="img">
        <img src="./servicios2/4.jpg" alt=""></div>
        <h2>Diseño del sistema</h2>
        <p>Realizamos un estudio detallado de las necesidades energéticas del cliente y diseñamos sistemas personalizados que optimizan el uso de la energía.</p>
        <button>Ver Mas</button>
    </div>
    <div class="panel-2">
        <div class="img">
            <img src="./servicios2/3.jpg" alt=""></div>
        <h2>Instalación de equipos</h2>
        <p>Instalamos transformadores, interruptores, paneles de distribución y otros equipos necesarios para la correcta operación del sistema de media y baja tensión.</p>
        <button>Ver Mas</button>
    </div>
</main>