<main>
    <div class="background-image">
        <img class="imgenfondo" src="/blog/1.jpg" alt="">
    </div>
    <div class="titulo">
    <h1>BLOG</h1>
    </div>
            <swiper-container slides-per-view="1" autoplay="true" speed="400" [slidesPerView]="4"  [loop]="true" [loopAdditionalSlides]="3">
                <swiper-slide>
                    <img src="/blog/1.jpg" alt="">
                    <p class="date">03/12/2024</p>
                    <h5>INFORMACION PRECISA</h5>
                    <button class="orange-button">Más</button>
                </swiper-slide> 
                <swiper-slide>
                    <img src="/blog/2.jpg" alt="">
                    <p class="date">03/12/2024</p>
                    <h5>INFORMACION PRECISA</h5>
                    <button class="orange-button">Más</button>
                </swiper-slide>  
                <swiper-slide>
                    <img src="/blog/3.jpg" alt="">
                    <p class="date">03/12/2024</p>
                    <h5>INFORMACION PRECISA</h5>
                    <button class="orange-button">Más</button>
                </swiper-slide>
                <swiper-slide>
                    <img src="/blog/4.jpg" alt="">
                    <p class="date">03/12/2024</p>
                    <h5>INFORMACION PRECISA</h5>
                    <button class="orange-button">Más</button>
                </swiper-slide> 
                <swiper-slide>
                    <img src="/blog/5.jpg" alt="">
                    <p class="date">03/12/2024</p>
                    <h5>INFORMACION PRECISA</h5>
                    <button class="orange-button">Más</button>
                </swiper-slide>
            </swiper-container>
</main>
